body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BEADFA;
    margin: 0 0 0 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    justify-content: center;
    align-items: center;
    height: 90vh;
}

.game-end-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
}
.game-results-container {
    display: flex;
    flex-direction: column;
    flex: 0.95;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.368);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 100vw;
    height: 90vh;
    margin-top: 50px;
}

.button-container {
    display: flex;
    gap: 30px;
}

.choice-button {
    width: 500px;
    height: 125px;
    border: none;   
    border-radius: 20px;
    box-shadow: 0 10px #DFCCFB;
    transition: all .07s ease;
    font-size: 30px;
    background-color: #FFF3DA;
}

.choice-button:hover {
    background-color: #cdc3ae;
}

.choice-button:active {
    transform: scale(0.9);
    background-color: #cdc3ae;
}

.results-container {
    border: 5px solid #D0BFFF;
    background-color: #DFCCFB;
    padding: 5px 30px 5px 30px;
    width: 60%;
}

#result-text {
    text-align: center;
}

#not-span {
    color: red;
    font-style: italic;
}

.reset-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 100vh;
}